.contayner {
  width: 100%;
  height: 99.9vh;
}
.loginPageContayner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("../../assets/images/signIn.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.PlatinumPark {
  height: 100%;
  display: flex;
  align-items: flex-end;
  h1 {
    font-weight: 700;
    font-size: 97.46px;
    color: #ffffff;
  }
}
.loginPage {
  width: 450px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
  }
  p,span {
    width: 80%;
  }
  .signin {
    width: 304px;
    
    font-weight: 600;
    font-size: 34px;
    line-height: 41.45px;
    color: #000000;
  }
  form {
    display: flex;
    flex-direction: column;
    // width: 75%;

    label {
      height: (70px);
      padding-top: 20px;
    }
    input {
      border: none;
      outline: none;
      border-bottom: solid 1px;
      &:hover {
        border-bottom: solid 1px blue;
      }
    }
    Button {
      align-self: flex-end;
      margin-top: 10px;
    }
    Link{
      align-self: flex-end;
      font-weight: 700;
      font-size: 12px;
      line-height: 14.63px;
      color: #000000;
      text-decoration: none;
    }
  }
  .restore {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .link-route {
    text-decoration: none;
    color: #1175ea;
  }
  .forgotpassword {
    font-weight: 600;
    font-size: 34px;
    // line-height: 41.45px;
  }
  input {
    width: 300px;
  }
}
.formInput{
  display: flex;
    flex-direction: column;
    width: 75%;

    input {
      border: none;
      outline: none;
      border-bottom: solid 1px;
      &:focus {
        border-bottom: solid 1px blue;
      }
    }

}
.wrapperRestore{
  width: 450px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.bottomPrt{
align-self: flex-end;
width: 50%;
Button{
  width: 168px;
  font-size: 12px;
  font-weight: 700;
}
.restoreAuth{
  color: #1D1D1D;
  text-decoration: none;
  width: 160px;
  font-weight: 700;
  font-size: 12px;
}
}
