.contayner {
  width: 100%;
  height: 99.9vh;
  display: flex;
}
.loginPageContayner {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.loginCar {
  width: 55%;
  height: 100vh;
  background-image: url("../../assets//images//loginCar.png");
  // background-position: center;
  background-size: cover;

}

.PlatinumPark {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px;
  height: 39px;
  // font-weight: 700;
  // font-size: 32px;
 
  .welcome{
    font-weight: 600;
    font-size: 64px;
    color: rgb(39, 38, 38);
  }
  .logoLink {
    font-weight: 600;
    font-size: 64px;
    color: black;
    
  }
}
.loginPage {
  width: 500px;
  height: 591px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
  }
  span {
    width: 80%;
    height: 100%;
  }
  .signin {
    width: 350px;
    font-weight: 600;
    font-size: 34px;
    line-height: 41.45px;
    color: #000000;
  }
  .forms {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 40px;
   
    .inputWrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    .input {
      width: 432;
      height: 69px;
      border-radius: 8px;
      border: 2px solid #e5e5e5;
      padding: 12px;
    }
    .inputError {
      border: none;
      outline: none;
      border-bottom: solid 1px;
      &:focus {
        border-bottom: solid 1px rgb(255, 30, 0);
      }
    }
    .errorLabel{
      color: red;
      &:focus {
        border-bottom: solid 1px rgb(255, 30, 0);
      }
    }
    .signInBtn{
      border-radius:8px ;
      background-color: #1577EA;
      height: 69px;
      color: white;
      cursor: pointer;
      border: none;
    }
 
  }

}
