.DriverCard {
    width: 440px;
    display: flex;
    .wrapper {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        span{
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }
        .date{
            font-family: Poppins;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }
        .bell{
            cursor: pointer;
            padding-left: 35px;
        }
        .img {
            width: 105px;
            height: 105px;
            border-radius: 14px;
            object-fit: cover;
        }
        .text{
            width: 200px;
        }
    }
}