button {
  border-radius: 14px;
  padding: 12px, 20px;
  font-size: 16px;
  border: none;
  width: 140px;
  height: 44px;
  transition: 500ms ease-out;
}
.button {
  background-color: #fff;
  color: #000000;
  &:hover {
    background-color: #000000;
    color: #fff;
  }
}
.btn {
  background-color: #000000;
  color: #fff;
  &:hover {
    background-color: #fff;
    color: black;
  }
}
