.main__platinum{
    width: 100%;
    height: 1149px;
    margin-top: 24px;
    padding-left:9%;
    padding-right: 9%;
    .main__inputs{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
    .main__submit_btn{
      display: flex;
      justify-content: end;
      margin-top: 24px;
    }
    .input__bg{
        display: flex;
        gap: 8px;
        border: none;
        border-radius: 8px;
        padding: 16px;
        background-color: #EDEDED;
        width: 256px;
        input{
            background: transparent;
            border: none;
        }
    }
    .bg{
        display: flex;
    }
 
}
.swiper{
    margin-top: 40px;
    .wrapperImg {
        width: 100%;
        padding-bottom: 5px;
        img{
            width: 95%;
        }
    }
}

