.main__platinum{
    width: 100%;
    height: 1149px;
    padding-top: 24px;
    .main__inputs{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 24px;
        width: 88%;
    }
    .main__submit_btn{
      display: flex;
      justify-content: end;
      margin-top: 24px;
      width: 88%;
    }
    .input__bg{
        display: flex;
        gap: 8px;
        border: none;
        border-radius: 8px;
        padding: 16px;
        background-color: #EDEDED;
        width: 20%;
        input{
            background: transparent;
            border: none;
        }
    }
 .selector{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
 }
 .swiper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

 }
}



