.main__platinum{
    width: 100%;
    height: 1149px;
    padding-top: 68px;
    .main__inputs{
        display: flex;
        width: max-content;
        gap: 24px;
    }
    .main__submit_btn{
      display: flex;
      justify-content: end;
      margin-top: 24px;
      width: 84.5%;
    }
    .input__bg{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:  12px 25px 12px 25px;
        gap: 8px;
        border: none;
        border-radius: 8px;
        background-color: #EDEDED;
        input{
            background: transparent;
            border: none;
        }
    }
    .main__swiper{
        display: flex;
        justify-content: space-between;
    }
 .selector{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
 }
 .form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
 }
}



