.adminHeader{
 display: flex;
 justify-content: space-around;
 align-items: center;

 
 .wrapper{
  display: flex;
  gap: 30px;
  align-items: center;

 }


.platinumPark {
 width: (228px);
 height: (48px);
 font-weight: 600;
 font-size: 32px;
text-decoration: none; 
color: #1D1D1D;
}
}
.btn{
 padding: 12px;
 text-decoration: none; 
 color: #1D1D1D;
}

.btn:active,.btn:hover {
color: #1577EA;
border-bottom: 1px solid #1577EA;
}

