.container {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #1d1d1d;
  .carousel {
    width: 1080px;
    height: 100vh;
  }
  .driverCard {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
