.PlatinumPark {
  height: 39px;
  font-weight: 700;
  font-size: 32px;
}
.contaynerHeader{
 display: flex;
 width: 100%;
 justify-content: space-around;
 align-items: center;

}
.line{
  width: 100%;
}
