

.PlatinumPark {
  font-family: "Montserrat", sans-serif;
  width: 241px;
  height: 39px;
  font-weight: 700;
  font-size: 32px;
  color: #1D1D1D;
}
.contaynerHeader{
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin-bottom: 30px;

}
