.AboutProject{
    .wrapper{
        font-family: Inter;
        letter-spacing: 0em;
        text-align: left;
        span {
            font-size: 20px;
            font-weight: 400;
            line-height: 33px;
        }
        h1 {
            font-size: 48px;
            font-weight: 700;
            line-height: 58px;
        }
    }
}