.btn {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 20px 12px 20px;
  border: none;
  border-radius: 8px;
  background-color: black;
  color: #ffffff;
}
