.forgotpassword {
  width: 304px;
  height: 38px;
  font-weight: 600;
  font-size: 34px;
  line-height: 41.45px;
  margin-top: 40px;
  margin-right: 40px;
  
}
.contayner{

 p{
  margin-left: 40px;
 }
}

